<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>consul_local</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e
cd /opt/local_env_start
export IMAGE_NAME=${IMAGE_NAME}
source env.sh; rm -rf docker-compose.yml; envsubst &lt; &quot;template.yml&quot; &gt; &quot;docker-compose.yml&quot;
docker-compose up -d
echo &quot;init local consul env&quot;
sleep 30
echo &quot;joining agent&quot;
docker exec -d agent consul agent -enable-local-script-checks  -client=0.0.0.0 -retry-join  server -data-dir=/consul/data -config-dir=/consul/consul.d -node=agent
sleep 30
echo &quot;connect proxys&quot;
docker exec -d agent consul connect proxy -sidecar-for flask
docker exec -d agent consul connect proxy -sidecar-for web
sleep 30</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>